$nav-button-color: #00838F;

$text-color: #776E65;
$bright-text-color: #f9f6f2;
$grid-spacing: 15px;
$tile-color: #eee4da;
$tile-gold-color: #edc22e;
$tile-gold-glow-color: lighten($tile-gold-color, 15%);
$tile-border-radius: 3px;
